<!DOCTYPE html>
<html>
<head>
    <title>eCommerce Website</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
   
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<style>
     body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }
        
        .navbar {
            background:  linear-gradient(to right, #007bff, #0066cc);
        }
        
        .navbar-brand {
            color: #fff;
            font-size: 24px;
        }
        
        .navbar-nav .nav-link {
            color: #fff;
        }
        
        .navbar-nav .nav-link:hover {
            color: #ed664c;
        }
        
        .form-inline .form-control {
            width: 300px;
        }
        
        .profile {
            display: flex;
            align-items: center;
            margin-left: 20px;
            color: #fff;
        }
        
        .profile svg {
            width: 40px;
            height: 40px;
            margin-right: 10px;
        }
        
        .profile span {
            font-weight: bold;
            font-size: 16px;
        }
        
        .section-title {
            font-size: 28px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        
        .product-card {
            background-color: #fff;
            border: 1px solid #e5e5e5;
            border-radius: 4px;
            padding: 15px;
            margin-bottom: 30px;
        }
        
        .product-card .image {
            text-align: center;
        }
        
        .product-card .image img {
            width: 100px;
            height: auto;
            object-fit: cover;
            border-radius: 4px;
        }
        
        .product-card .content {
            margin-top: 15px;
        }
        
        .product-card .content .product-title {
            font-size: 20px;
            font-weight: bold;
            color: #29323c;
            display: block;
            margin-bottom: 10px;
        }
        
        .product-card .content .product-price {
            font-size: 18px;
            color: #ed664c;
        }
        
        .product-card .extra.content {
            text-align: center;
            margin-top: 15px;
        }
        
        .product-card .extra.content .add-to-cart-button {
            background-color: #ed664c;
            color: #fff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        
        .product-card .extra.content .add-to-cart-button:hover {
            background-color: #c6513b;
        }
        
        footer {
            background: linear-gradient(to right, #29323c, #485563);
            padding: 30px;
            color: #fff;
            text-align: center;
            border-top: 1px solid #fff;
        }
        
        footer p {
            margin: 0;
        }
</style>
     
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">VIKRETHA</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Products
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/mobiles">Mobiles</a>
                                <a class="dropdown-item" href="/laptops">Laptops</a>
                                <a class="dropdown-item" href="/watches">Watches</a>
                                <a class="dropdown-item" href="/earbuds">EARBUDS</a>
                            </div>
                        </li>
                    </ul>
                    <div>
                    <a href="/cart"><button class= "add-to-cart-button btn btn-outline-warning">CART</button></a>
                        <a href="/orders"><button class= "add-to-cart-button btn btn-outline-warning">ORDERS</button></a>   
                        </div>
                </div>
            </div>
        </nav>
    </header>
    <section class="container mt-5">
        <h2 class="section-title">Featured Products</h2>
        <div class="row">
            <% catalog.forEach((item)=>{ %>
            <div class="col-md-4">
                <div class="product-card">
                   
                    <div class="image">
                        <a href="/product/<%= item.product_id %>">
                        <img src="<%= item.imgurl %>" alt="Product 1">
                    </a>
                    </div>
                    <div class="content">
                        <span class="product-title"><%= item.product_name %></span>
                        <span class="product-price"> &#8377; <%= item.price %> </span>
                    </div>
                    <div class="extra content">
                       
                        <button  id="<%= item.product_id %>"  class="add-to-cart-button cart">Add to Cart</button>
                    </div>
                </div>

            </div> 
            <% }) %>          
        </div>
        <script>
            const buttonGroup = document.querySelectorAll(".cart");
          
            buttonGroup.forEach((button) => {
              button.addEventListener('click', (event) => {
                const productId = button.getAttribute('id');
                const xhttp = new XMLHttpRequest();
                xhttp.open("POST", `/addtocart/${productId}`, true);
                xhttp.setRequestHeader("Content-type", "application/json");
                
                xhttp.onreadystatechange = function() {
                  if (this.readyState === 4 && this.status === 200) {
                    console.log(this.responseText)
                    const response = JSON.parse(this.responseText);
                    if (response.status == "ok") {
                      button.textContent = "Added to Cart";
                    } else {
                      alert("Already added to cart");
                    }
                  }
                };
                
                xhttp.send();
              });
            });
          </script>
          
    </section>
    <footer>
         
        <p> POD:- <%= cluster.pod_name %></p>
        <p>Cluster-name:- <%= cluster.name %></p>
        <p>Cluster-location: <%= cluster.location %></p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    
</body>
</html>
